body {
    background-color: white;
    height: 125vh;
    margin-top: 40px;
    padding: 30px;
    font-family: sans-serif;
    background-size: cover;
}
/*MARK: NAVBAR*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    top: 0;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align:  center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.active {
    background-color: #FFFF;
}
/*PAGE CONTENT*/
header {
    background-color: mediumturquoise;
    position: fixed;
    left: 0;
    right: 0;
    top: 0px;
    height: 80px;
    display: flex;
    
    align-items: center;
    /*box-shadow: 0 0 25px 0 black;*/   
}
#headerContent {
    padding: 20px;
}
.navbarItems {
    font-size: 22px;
}
.centerImage {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
}
.centerDiv {
    align-items: center;
    align-content: center;
    padding: 20px;
    
}
header * {
    display: inline;
}
h1 {
    color: black;
    text-align: center;
    font-size: ;
}
p {
    font-family: Verdana;
    font-size: 20px;
}