body {
    background-color: white;
    height: 125vh;
    margin-top: 40px;
    padding: 30px;
    font-family: sans-serif;
    background-size: cover;
}
header {
    background-color: mediumturquoise;
    position: fixed;
    left: 0;
    right: 0;
    top: 0px;
    height: 80px;
    display: flex;
    
    align-items: center;
    /*box-shadow: 0 0 25px 0 black;*/   
}
#headerContent {
    padding: 20px
}
header * {
    display: inline;
}
h1 {
    color: black;
    text-align: center;
}
p {
    font-family: Verdana;
    font-size: 20px;
}